body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(images/home_main_desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
}
header .bouton-shop p {
  background-color: white;
  color:black;
  margin-left: 550px;
  width:100px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
}
.chevron p a{
  color: white;
  margin-left: 600px;
  width:100px;
  text-align: center;

}

.band-black {
  position: relative;
  background-color: black;
  color: white;
  height: 35px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
}
.band-black .textleft {
margin-left: 220px;
padding-top: 5px;
}

.band-black .textright {
margin-right: 200px;
display: flex;
justify-content: space-between;
padding-top: 5px;
}
.band-black .textright .card {
margin-left: 70px;
}
.hirving-white {
  display: flex;
  font-size: 15px;
  width: 71%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.hirving-white img {
  height: 94px;
  width: 163px;
  padding-left: 20px;
  padding-right:20px;
}
.hirving-white p {
  padding-left: 28px;
  padding-right: 28px;
  position:relative;top:50px;
}
.grey {
  width: 100%;
  background-color: rgb(217, 217, 217);
  display: flex;
  height: 400px;
  text-align: center;
}

.grey img {
  width: 275px;
  height:250px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: -19px;
  border-top: 3px solid black ;
}
  .grey .big1 {
  margin-left: 193px;

  }
  .grey .big1 p {
    background-color: white;
    height: 50px;
    margin-left: 15px;
    margin-right: 14px;
    border-bottom: 3px solid black ;
  }
  .grey .big2 {

  }
  .grey .big2 p {
    background-color: white;
    height: 50px;
    margin-left: 15px;
    margin-right: 14px;
    border-bottom: 3px solid black ;
  }
  .grey .big3 {

  }
  .grey .big3 p {
    background-color: white;
    height: 50px;
    margin-left: 15px;
    margin-right: 14px;
    border-bottom: 3px solid black ;
  }
  .capucas {
    background-image: url(images/slideshow-1.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
  }
  .capucas .text-center {
    height: 300px;
    background-color: white;
    margin-left: 744px;
    margin-right: 100px;
    border-bottom: 3px solid black ;
    border-top: 3px solid black ;

  }
   .capucas .text-center p,h3 {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 28px;
   }
  .capucas .text-center .big-text  {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 3px;
  }
  .whole {
    display:flex;

}
  .whole .whole-text {

  height: 300px;
  background-color: white;
  margin-left: 277px;
  margin-right: 15px;
  margin-bottom: 50px;
  margin-top: 60px;
  border-bottom: 3px solid black ;
  border-top: 3px solid black ;

  }
  
  .whole .whole-text p,h3{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 28px;
  
}
  .whole-photo img {
    margin-left: 15px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 60px;
    height: 300px;
    width: 441px;
  }
  .banner_inscription {
    background-color: rgb(231,231,231);
    height: 100px;
    display: flex;
    justify-content:space-between;
  }
.banner_inscription .left {
  display: flex;
  width: 400px;
}

.left .bouton_email p {
  background-color: white;
  color:black;
  margin-left: 550px;
  width:100px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  border: 2px solid black;
}

.logo  {
  display: flex;
  justify-content:center;
  height: 30px;
}
footer {
  display: flex;
  justify-content:center;
}
.ok {
  list-style-type: none;
}
.okey li  {
  display: inline;
  list-style-type: none;
  
}

